
@{
    
    ViewData["Title"] = "Help";
}

<h2>Help</h2>

        
        <h3>Scrum</h3>
        @ScrumInfo.ScrumDesc();

        <h3>User Story </h3>
        @ScrumInfo.UserStoryTip();

        <h3>Product Backlog</h3>   
        @ScrumInfo.ProductBacklogTip();

        <h3>Product Owner</h3>
        @ScrumInfo.ProductOwnerTip();

        <h3>Scrum Master</h3>
        @ScrumInfo.ScrumMasterTip();

        <h3>Sprint Planning</h3>
        @ScrumInfo.SprintPlanningTip();

        <h3>Daily Meeting</h3>
        @ScrumInfo.DailyMeetingTip()

        <h3>Sprint Review</h3>
        @ScrumInfo.SprintReviewTip()

        <h3>Sprint Retrospective Tip</h3>
        @ScrumInfo.SprintRetrospectiveTip()

        <h3>Scrum Team Info</h3>
        @ScrumInfo.ScrumTeamInfo()

        <h3>Product Owner</h3>
        @ScrumInfo.ProductOwnerInfo()

        <h3>Development Team Info</h3>
        @ScrumInfo.DevelopmentTeamInfo()

        <h3>Scrum Master</h3>
        @ScrumInfo.ScrumMasterInfo()

        <h3>Scrum Events Info</h3>
        @ScrumInfo.ScrumEventsInfo()
        
        <h3>Sprint Info</h3>
        @ScrumInfo.SprintInfo()

        <h3>Sprint Planning Info</h3>
        @ScrumInfo.SprintPlanningInfo()
        
        <h3>Daily Meeting</h3>
        @ScrumInfo.DailyMeetingInfo()
        
        <h3>Sprint Review Info</h3>
        @ScrumInfo.SprintReviewInfo()

        <h3>Sprint Retrospective info</h3>
        @ScrumInfo.SprintRetrospectiveInfo()

        <h3>Sprint Artifacts Info</h3>
        @ScrumInfo.ScrumArtifactsInfo()

        <h3>Product Backlog Info</h3>
        @ScrumInfo.ProductBacklogInfo()

        <h3>Sprint Backlog Info</h3>
        @ScrumInfo.SprintBacklogInfo()

        <h3>Increments Info</h3>
        @ScrumInfo.IncrementsInfo()}
       